$threeBoxBlack: #181F21;
$threeBoxBlackHover: rgb(47, 56, 58);
$borderColor: rgb(236, 236, 236);
$backgroundHue: rgb(247, 247, 247);
$backgroundHueDark: rgb(208, 208, 208);
$lighterFont: #747677;
$lightestFont: #b1b1b1;
$tileBottomMargin: 20px;

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  background-color: $threeBoxBlack;
  color: white;
  height: 54px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
  padding: 14px 20px;
  transition: background-color .4s ease;
  border: solid 2px $threeBoxBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .77px;
  box-sizing: border-box;
  font-weight: 900 !important;

  &:hover {
    background-color: $threeBoxBlackHover;
    border-color: $threeBoxBlackHover;
  }
}

input {
  height: 54px;
  border-radius: 3px;
  padding: 14px 20px;
  border: solid 1px $borderColor;
  box-sizing: border-box;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;


  img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }

  h3 {
    color: $threeBoxBlack;
    font-size: 40px;
    margin-top: -2px;
  }
}

.profileTile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  p {
    margin-left: 8px;
  }
}

.threeboxProfileHover__style_boxAddressWrap {
  width: 100%;

  div {
    width: 100%;
  }
}

.profileTile_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .profileTile_info_link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.isCurrentTopic {
  color: #F5A623;
}

.profileTile_creator {
  color: #F5A623;
  font-size: 13px;
}

.profileTile_moderator {
  color: #F87CFF;
  font-size: 13px;
}

.coverPage_ui_wrapper_logo {
  margin-bottom: 8px;
}

.coverPage_ui_wrapper_line {
  margin-bottom: 30px;
  color: $lighterFont;
}

.coverPage_ui_wrapper_tech {
  color: $lightestFont;
}

.profileTile_info_image {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  background-color: $threeBoxBlack;
}

.profileTile_info_image-transparent {
  background-color: transparent;
}

.textButton {
  background-color: transparent;
  border-radius: 5px;
  padding: 0;
  transition: background-color .4s ease;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $threeBoxBlack;
  font-size: 16px;

  &:hover {
    background-color: transparent;
    border: none;
  }
}

.coverPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .coverPage_hero {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 450px;
      height: auto;
    }
  }

}

.coverPage_ui {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  button {
    margin-bottom: 18px;
  }
}

.coverPage_ui_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4vw;
}

.dialogue_post {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: $tileBottomMargin;
}

.dialogue_post_delete {
  width: 18px;
}

.dialogue_post_content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  p {
    padding: 10px 0 0 10px;
    text-align: left;
  }
}

.dialogue_post_content_profile {
  width: 40px;
}

.dialogue_post_context {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-top: 10px;

  p {
    color: $lighterFont;
    font-size: 12px;
  }

  button {
    height: fit-content !important;
    margin-right: 20px;
  }
}

.chatPage {
  width: 100vw;
  height: 100vh;
  min-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topics {
  width: 28%;
  height: 100%;
  background-color: $backgroundHue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  button {
    width: 100%;
    border-radius: 0;
  }
}

.topics_newTopic {
  height: 66px;
}

.topics_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  width: 100%;
  box-sizing: border-box;
  height: 64px;

  h3 {
    font-size: 28px;
  }

  img {
    width: 34px;
  }
}

.topics_nav_user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topics_list {
  height: calc(100% - 130px);
  width: 100%;
  height: 100%;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;

  ul {
    height: calc(100% - 18px);
    overflow-y: scroll;
  }

  button {
    justify-content: flex-start;
    width: 100%;
    padding-left: 20px;
  }

  ul {
    width: 100%;

    li {
      width: 100%;
      transition: all .2s ease-in-out;
      box-sizing: border-box;

      &:hover {
        background-color: $backgroundHueDark;
      }
    }
  }
}

.topics_list_header {
  color: $lightestFont;
  margin-bottom: 18px;
  padding-left: 20px;
}

.chatPage_dialogue {
  width: 48%;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
}

.postEntry {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;

  input {
    width: 80%;
  }
}

.postEntry_image {
  padding: 6px 20px;
}

.chatPage_dialogue_header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 12px 20px;
}

.chatPage_dialogue_posts {
  padding: 12px 20px;
  height: calc(100% - 150px);
  overflow-y: scroll;
}

.chatPage_members {
  background-color: $backgroundHue;
  border-left: 1px solid rgb(242, 242, 242);
  width: 24%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $lightestFont;

    &:hover {
      color: $threeBoxBlack;

      span {
        background-color: $threeBoxBlack;
      }
    }

    span {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $lightestFont;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;

      img {
        transform: rotate(45deg);
        width: 12px;
        height: 12px;
      }
    }
  }
}

.chatPage_members_header {
  color: $lightestFont;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
  padding: 12px 20px;
}

.chatPage_members_list {
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: calc(100% - 216px);
  box-sizing: border-box;
  width: 100%;
}

.chatPage_members_list-add {
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.chatPage_members_list_tile {
  margin-bottom: $tileBottomMargin;
  box-sizing: border-box;
  width: 100%;
}

.modal__container {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}


.modal {
  background: white;
  border-radius: 6px;
  width: 380px;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  text-align: center;
  z-index: 7;
  position: relative;

  p {
    line-height: 24px;
    font-size: 16px;
  }

  form {
    text-align: center;
    margin-top: 2em;
  }

  img {
    width: 240px;
  }

  h2 {
    margin-bottom: 16px;
  }

  .modal_form_input {
    width: 100%;
  }

  button {
    width: 100%;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.modal_form {
  position: relative;
  padding: 60px 50px 30px 50px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.modal_form_error {
  position: absolute;
  bottom: 4px;
  color: red;
  font-size: 12px !important;
}

.modal_options {
  padding: 30px 50px 30px 50px;
  background-color: $backgroundHue;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.modal_options_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal_options_menu_choice {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  label {
    margin-right: 6px;
  }
}

.modal_overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_closeModal {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: $threeBoxBlack;
  color: white;
  border-radius: 50% !important;
  width: 26px !important;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  font-weight: 900;
  z-index: 1113;

  img {
    width: 12px;
    height: 12px;
  }
}

.app_modals-enter {
  opacity: .01;
}

.app_modals-enter.app_modals-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.app_modals-leave {
  opacity: 1;
}

.app_modals-leave.app_modals-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

.userTile {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: $threeBoxBlack;
  }
}